<footer>
    <div>Made By Max Wiegel</div>
    <a href="https://github.com/DeusDe/azudem" target="_blank">Github</a>
    <a href="/api" target="_blank">API</a>
    <a href="https://github.com/DeusDe/azudem/blob/master/LICENSE" target="_blank">License</a>
    <a href="https://github.com/DeusDe/azudem/commits/master"
       target="_blank">V.<%= process.env.npm_package_version %></a>
</footer>