<header>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <div class="header-main">
        <div class="header-links">
            <a href="/channel">Channels</a>
            <a href="/users">Users</a>
            <a href="/">index</a>
        </div>
        <div class="header-search">
            <div>Search</div>
        </div>
        <div class="header-extra">
            <div>Login</div>
            <div>Signup</div>
        </div>
    </div>
</header>