@import "vars.less";

* {
  padding: @general-padding;
  margin: @general-margin;
  color: @general-text-color;
  font-size: @general-font-size;
  font-family: "Source Code Pro", Serif, serif;
  text-decoration: none !important;
}

root {
  font-size: @general-font-size;

}

a:hover {
  color: lightseagreen;
}

.mainWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .stream_info {
    background-color: gray;
    width: 75vw;

    padding: 3vh 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    height: 20vh;

    .channel_icon {
      max-width: 75%;
      min-width: 50px;

      max-height: 75%;
      min-height: 50px;


    }

    .info_bar {
      img {
        height: 30px;
        width: 30px;
      }
    }

    .stream {
      height: 100%;
      max-width: 30vw;

    }
  }

  .stream_stats {
    width: 81vw;
    background-color: gray;
  }

  .channel_card_wrapper {
  var {
    display: none
  }
    background-color: lightgray;
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .channel_card {
      border-radius: 25px;
      flex: 1 0 21%;
      max-width: 21%;

      @media @desktop_big {
        flex: 1 0 17%;
        max-width: 17%;
      }

      @media @desktop {
        flex: 1 0 21%;
        max-width: 21%;
      }

      @media @desktop_small {
        flex: 1 0 28%;
        max-width: 28%;
      }

      @media @tablet {
        flex: 1 0 42%;
        max-width: 42%;
      }

      @media @smartphone {
        flex: 1 0 85%;
        max-width: 85%;
      }

      background-color: gray;
      height: 100%;
      margin: 25px;

      .icon {
        border-radius: 25px 25px 0 0;
        height: 250px;
        width: 100%;
        object-fit: cover;

      }

      .title {
        text-align: center;
        font-size: 35px;
        overflow: hidden;
      }

    }


  }

  .site_button {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    background-color: lightgray;
    width: 75vw;
    padding-bottom: 20px;

    div {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 25px;
      width: 100px;
      border-radius: 20px;
      background-color: @header-bg;
    }

    select {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 25px;
      width: 100px;
      border-radius: 20px;
      background-color: @header-bg;
    }

  }


}

header {
  font-size: @general-font-size;
  background-color: @header-bg;
  height: @header-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .header-main {
    height: 100%;
    min-width: 700px;
    max-width: 1600px;
    width: 100%;
    //background-color: red;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .header-links {
      text-align: center;
      height: 100%;
      gap: 7%;
      padding-left: 10%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 33%;
    }

    .header-search {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 33%;
    }

    .header-extra {
      height: 100%;
      gap: 7%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 33%;
      padding-right: 10%;
    }

  }
}

footer {
  font-size: @general-font-size;
  background-color: @header-bg;
  height: @header-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10%;


}

.errorWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: gray;

  }
}

#data {
  display: none;
}

